body {
    width: 360px;
    padding-bottom: 1000px;
}

nav {
    width: 360px;
    height: 40px;
    background: #acd373;
    position: fixed;
   line-height: 40px;
}

nav div {
    width: 40px;
    height: inherit;
    background: #89a85c;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 40px;
    
}

nav > img {
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
    
}

nav > div > img {
    margin-left: 15px;
}

h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    font-weight: 400;
}



h3 {
    font-size: 13px;
    font-family: "Droid Serif", serif;
    font-style: italic;
    font-weight: 100;
    color: #FFF;
    text-align: center;
    display: inline-block;
}

header > div {
    background: #9abd67 url("siluet.png") no-repeat bottom center content-box;
    background-size:  635px 85px; 
    height: 350px;
    line-height: 330px;
    padding-top: 40px;
    text-align: center;
   
}

header > div > div {
    display: inline-block;
    line-height: .1em;
    background: url("arrow.png") no-repeat bottom center;
    height: 115px;
}

header > div > div > div {
    line-height: 56px;
}

header > div > div > div > div {
    line-height: 126px;
}

header > div > div > img {
    display: inline-block;
}

.about {
    height: 512px;
    background: #FFF;
}

.about img:first-of-type {
    width: 80px;
    height: 207px;
    display: inline-block;
    margin: 42px 140px 37px 140px;
}

.about img:nth-of-type(2) {
    width: 25px;
    height: 30px;
    display: inline-block;
    margin-left: 29px;
}

.about h2 {
    font: 18px "Source Sans Pro", sans-serif;
    color: #454545;
    display: inline;
    padding-left: 13px;
    vertical-align: super;
}

.about p {
    font: 13px "Source Sans Pro", sans-serif;
    width: 300px;
    height: 58px;
    text-align: left;
    margin-left: 30px;
    margin-top: 23px;
    margin-bottom: 28px;
    margin-right: 33px;
    display: inline-block;
    line-height: 1.3em;
    color: #454545;
}

.about a {
    font: italic 11px "Droid Serif", serif;
    color: #acd373;
    display: inline-block;
    padding: 9px 14px;
    border: 1px #acd373 solid;
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 47px;
}

.about img:last-of-type {
    width: 360px;
    height: 262px;
    display: block;
}
    

    